#map {
    height: 100vh;
}

.spin {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 500;
}

.spin img {
    margin-top: 10px;
}

.leaflet-left .leaflet-control {
    margin-left: 348px;
}

.leaflet-top .leaflet-control {
    margin-top: 23px;
}

.leaflet-control-mapbox-geocoder {
    align-items: center;
    background-color: rgb(250, 251, 252);
    border: none !important;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px !important;
    display: flex;
    justify-content: space-around;
    width: 380px;
}

.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-icon {
    margin-left: 3px;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15zm-3.847-8.699a2 2 0 1 0 2.646 2.646 4 4 0 1 1-2.646-2.646z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15zm-3.847-8.699a2 2 0 1 0 2.646 2.646 4 4 0 1 1-2.646-2.646z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #bec8d2;
    border: none !important;
    cursor: default;
    left: 10px;
    height: 20px !important;
    transition: background-color ease 0.3s;
    width: 20px !important;
}

.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-icon.is-active,
.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-icon:hover {
    background-color: #006aff;
}

.leaflet-control-mapbox-geocoder.searching .leaflet-control-mapbox-geocoder-icon {
    -webkit-animation: search-bg 1.6s infinite linear;
    animation: search-bg 1.6s infinite linear;
}

.leaflet-control-mapbox-geocoder-form {
    background-color: rgb(250, 251, 252);
    border-color: rgb(223, 225, 230);
    border-radius: 3px;
    padding: 6px;
}

.leaflet-control-mapbox-geocoder-form input {
    border: none;
    width: 334px;
}

.leaflet-control-mapbox-geocoder-results {
    border-radius: 4px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px !important;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
}

.leaflet-control-mapbox-geocoder-results a {
    border-radius: 0 !important;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100% !important;
}

.leaflet-popup-content .leaflet-info-window-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin: 0;
    max-width: 287px;
    min-height: 21px;
    min-width: 150px;
    overflow: hidden;
    padding: 0 18px 8px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leaflet-popup-content .leaflet-info-window-address {
    background-color:#f1f1f1;
    line-height: 21px;
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 12px;
}

.leaflet-popup-content .leaflet-info-window-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.leaflet-popup-content .leaflet-info-window-latlon {
    color: #333;
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    margin-right: 6px;
}

.leaflet-popup-content .leaflet-info-window-icon {
    background-color:#333;
    display: inline-block;
    height: 9px;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 9px;
}

.leaflet-info-window-icon.icon-loc {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M17.657 15.657L12 21.314l-5.657-5.657a8 8 0 1 1 11.314 0zM5 22h14v2H5v-2z'/%3E%3C/svg%3E");
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M17.657 15.657L12 21.314l-5.657-5.657a8 8 0 1 1 11.314 0zM5 22h14v2H5v-2z'/%3E%3C/svg%3E");
}

.leaflet-info-window-icon.icon-add {
    background-color:rgb(0, 82, 204);
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M2 18h10v2H2v-2zm0-7h20v2H2v-2zm0-7h20v2H2V4zm16 14v-3h2v3h3v2h-3v3h-2v-3h-3v-2h3z'/%3E%3C/svg%3E");
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M2 18h10v2H2v-2zm0-7h20v2H2v-2zm0-7h20v2H2V4zm16 14v-3h2v3h3v2h-3v3h-2v-3h-3v-2h3z'/%3E%3C/svg%3E");
}

.leaflet-popup-content .leaflet-info-window-btn {
    color: rgb(0, 82, 204);
}

/* ======== Animation ======== */
@keyframes search-bg {
    0%  {
        background-color: #006aff;
    }

    50% { 
        background-color: #bec8d2;
    }

    100% {
        background-color: #006aff;
    }
}

@-webkit-keyframes search-bg {
    0%  {
        background-color: #006aff;
    }

    50% { 
        background-color: #bec8d2;
    }

    100% {
        background-color: #006aff;
    }
}

/* ======== State ======= */
.is-none {
    display: none;
}

/* ======== Reset ======== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* featureList */

.featureListPanelClass{
    margin-top: 23px;
    margin-left: 24px;
    border-radius: 2px;
    background-color: #FFFFFF;
    border: none;
}

.featurelist-paneClass{
    border-radius: 2px;
}

.featurelist-title-barClass{
    font: 400 11px Roboto, Arial, sans-serif;
}

.map-action-menuClass{
    background: transparent url('//www.gstatic.com/mapspro/images/icons-app-004.svg') no-repeat 0 -84px;
    cursor: pointer;
    height: 21px;
    margin-right: 8px;
    opacity: .5;
    top: 16px;
    width: 21px;
}

#map-action-menu{
    position: absolute;
    right: 0;
}

.map-title-desc-bar-nameClass{
    text-align: left;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 254px;
    width: auto;
    cursor: default;
    color: #444444;
    font-weight: 400;
    vertical-align: top;
}

#map-title-desc-bar{
    padding: 18px;
}

.map-title-desc-bar-timeClass{
    color: #777777;
    margin-top: 35px;
}

.map-actionClass{
    background: #f1f1f1;
    position: relative;
    margin: 0;
    padding: 8px 18px;
}

.point-list-layer{
    border-top: none;
    box-sizing: border-box;
    position: relative;
    padding: 12px 16px;
    border-bottom: 1px solid #e5e5e5;
}

.point-list-layer-header{
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 21px;
    position: relative;
    border-bottom: none;
}

.point-list-layer-header-font{
    cursor: pointer;
    text-align: left;
    font-weight: 400;
    color: #222222;
    max-width: 225px;
    font-size: 14px;
    line-height: 21px;
    height: 21px;
    margin-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.point-list-layer-body{
    margin-left: 25px;
    margin-top: 0;
}

.point-list-layer-body-container{

}

.point-list-layer-body-item{
    font-size: 13px;
    color: #444444;
    position: relative;
    margin: 1px 0;
    white-space: nowrap;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
}

.point-logo{
    background-color: transparent;
    width: 24px;
    height: 24px;
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.point-logo-svg{
    background-position: 0 -1px!important;
    margin-top: 1px;
    margin-left: 1.5px;
    margin-right: 1.5px;
    margin-bottom: 1px;
    max-width: 22px;
    height: 22px;
    background-repeat: no-repeat;
}

.point-font-container{
    background-color: transparent;
    text-overflow: ellipsis;
    line-height: 24px;
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.point-font{
    display: inline-block;
    cursor: pointer;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;
}

.leaflet-contextmenu {
    display: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.4);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 0;
    background-color: #fff;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item {
    display: block;
    color: #222;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    padding: 0 12px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: default;
    outline: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled {
    opacity: 0.5;
}

.leaflet-contextmenu a.leaflet-contextmenu-item.over {
    background-color: #f4f4f4;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled.over {
    background-color: inherit;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.leaflet-contextmenu-icon {
    margin: 2px 8px 0 0;
    width: 16px;
    height: 16px;
    float: left;
    border: 0;
}

.leaflet-contextmenu-separator {
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
}

.section-hero-header-title {
    font-size: 13px;
}

.section-hero-header-title-description {
    padding: 16px 24px 16px;
}

.GLOBAL__gm2-headline-5 {
    font-family: 'Google Sans',Roboto,'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Noto Sans Telugu UI', 'Noto Sans Tamil UI', 'Noto Sans Gujarati UI', 'Noto Sans Kannada UI', 'Noto Sans Malayalam UI', 'Noto Sans Gurmukhi UI',  Arial,sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.section-hero-header-title-subtitle {
    font-family: Roboto, 'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Noto Sans Telugu UI', 'Noto Sans Tamil UI', 'Noto Sans Gujarati UI', 'Noto Sans Kannada UI', 'Noto Sans Malayalam UI', 'Noto Sans Gurmukhi UI', Arial, sans-serif;
    font-size: 13px;
    margin-top: 4px;
}

.section-hero-header-title-description-container {
    color: rgba(0, 0, 0, 0.54);
}

.section-star-array {
    padding-left: 26px;
    padding-right: 4px;
    display: inline-block;
    height: 14px;
}

.section-star {
    background-size: 14px 14px;
    background-image: url('//maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_14.png');
    vertical-align: top;
    width: 14px;
    height: 13px;
    display: inline-block;
}

.section-star-empty {
    background-image: url('//maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_empty_14.png');
}

.section-star-half {
    background-image: url('//maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_half_14.png');
}

.section-subheader {
    flex: none;
    align-items: center;
    padding: 16px 24px;
}

.GLOBAL__gm2-subtitle-alt-1 {
    letter-spacing: 0.00625em;
    font-family: 'Google Sans',Roboto,'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Noto Sans Telugu UI', 'Noto Sans Tamil UI', 'Noto Sans Gujarati UI', 'Noto Sans Kannada UI', 'Noto Sans Malayalam UI', 'Noto Sans Gurmukhi UI',  Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    flex: auto;
}

.photo-wall {
    padding: 0 24px;
    overflow: hidden;
    flex: none;
}

.liubai {
    height: 4px;
    flex: none;
}

.section-date-range-selection-container {
    margin: 0 8px 0 24px;
    position: relative;
    font-size: 13px;
    display: block;
    flex: 1;
}

.GLOBAL__gm2-caption section-date-range-combined-label {
    letter-spacing: 0.025em;
    font-family: Roboto,'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Noto Sans Telugu UI', 'Noto Sans Tamil UI', 'Noto Sans Gujarati UI', 'Noto Sans Kannada UI', 'Noto Sans Malayalam UI', 'Noto Sans Gurmukhi UI', Arial,sans-serif;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #70757a;
}

.section-date-range-selection-control {
    display: flex;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.12) inset;
}

.section-date-range-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    border-radius: 4px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 48px;
}

.section-date-range-first {
    margin-right: -1px;
}

.section-occupancy-selection {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 24px;
}

.section-occupancy-selection-dropdown {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 11px 2px 11px 16px;
}

.GLOBAL__gm2-hairline-border {
    border: 1px solid #dadce0;
}

.GLOBAL__gm2-body-2 {
    letter-spacing: 0.01428571em;
    font-family: Roboto,'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Noto Sans Telugu UI', 'Noto Sans Tamil UI', 'Noto Sans Gujarati UI', 'Noto Sans Kannada UI', 'Noto Sans Malayalam UI', 'Noto Sans Gurmukhi UI', Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.section-occupancy-selection-person-icon {
    background: url(//www.gstatic.com/images/icons/material/system_gm/1x/person_gm_grey_18dp.png) no-repeat center;
    height: 16px;
    width: 16px;
    background-size: 16px;
    margin-bottom: 4px;
    display: inline-block;
    flex: none;
}

.section-hotel-prices-container {
    flex: none;
    font-size: 13px;
    padding-bottom: 20px;
}

.section-hotel-prices-section {
    position: relative;
}

.section-hotel-prices-booking-container {
    margin: 0 24px;
}

.section-hotel-prices-booking-part {
    border-bottom: 1px solid #ebebeb;
}

.pVMtpLzfYWO__rate-row {
    cursor: pointer;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 0;
    border-radius: 0;
    font: inherit;
    list-style: none;
    margin: 0;
    overflow: visible;
    vertical-align: baseline;
}

.pVMtpLzfYWO__partner-icon {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    padding-bottom: 1px;
    padding-left: 5px;
    flex: none;
}

.pVMtpLzfYWO__partner-name {
    padding: 0 5px 0 19px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pVMtpLzfYWO__nightly-price-button {
    background: transparent;
    border: 0;
    border-radius: 0;
    font: inherit;
    list-style: none;
    outline: 0;
    overflow: visible;
    padding: 0;
    vertical-align: baseline;
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-left: auto;
    color: inherit;
}

.pVMtpLzfYWO__click-through-icon {
    background-image: url(//www.gstatic.com/images/icons/material/system_gm/1x/keyboard_arrow_right_gm_grey_18dp.png);
    background-size: 18px;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-left: 15px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.hotel-label {
}
