#map {
    height: 100vh;
}

.spin {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 500;
}

.spin img {
    margin-top: 10px;
}

.leaflet-left .leaflet-control {
    margin-left: 348px;
}

.leaflet-top .leaflet-control {
    margin-top: 23px;
}

.leaflet-control-mapbox-geocoder {
    align-items: center;
    background-color: rgb(250, 251, 252);
    border: none !important;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px !important;
    display: flex;
    justify-content: space-around;
    width: 380px;
}

.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-icon {
    margin-left: 3px;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15zm-3.847-8.699a2 2 0 1 0 2.646 2.646 4 4 0 1 1-2.646-2.646z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15zm-3.847-8.699a2 2 0 1 0 2.646 2.646 4 4 0 1 1-2.646-2.646z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #bec8d2;
    border: none !important;
    cursor: default;
    left: 10px;
    height: 20px !important;
    transition: background-color ease 0.3s;
    width: 20px !important;
}

.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-icon.is-active,
.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-icon:hover {
    background-color: #006aff;
}

.leaflet-control-mapbox-geocoder.searching .leaflet-control-mapbox-geocoder-icon {
    -webkit-animation: search-bg 1.6s infinite linear;
    animation: search-bg 1.6s infinite linear;
}

.leaflet-control-mapbox-geocoder-form {
    background-color: rgb(250, 251, 252);
    border-color: rgb(223, 225, 230);
    border-radius: 3px;
    padding: 6px;
}

.leaflet-control-mapbox-geocoder-form input {
    border: none;
    width: 334px;
}

.leaflet-control-mapbox-geocoder-results {
    border-radius: 4px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px !important;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
}

.leaflet-control-mapbox-geocoder-results a {
    border-radius: 0 !important;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100% !important;
}

.leaflet-popup-content .leaflet-info-window-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin: 0;
    max-width: 287px;
    min-height: 21px;
    min-width: 150px;
    overflow: hidden;
    padding: 0 18px 8px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leaflet-popup-content .leaflet-info-window-address {
    background-color:#f1f1f1;
    line-height: 21px;
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 12px;
}

.leaflet-popup-content .leaflet-info-window-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.leaflet-popup-content .leaflet-info-window-latlon {
    color: #333;
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    margin-right: 6px;
}

.leaflet-popup-content .leaflet-info-window-icon {
    background-color:#333;
    display: inline-block;
    height: 9px;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 9px;
}

.leaflet-info-window-icon.icon-loc {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M17.657 15.657L12 21.314l-5.657-5.657a8 8 0 1 1 11.314 0zM5 22h14v2H5v-2z'/%3E%3C/svg%3E");
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M17.657 15.657L12 21.314l-5.657-5.657a8 8 0 1 1 11.314 0zM5 22h14v2H5v-2z'/%3E%3C/svg%3E");
}

.leaflet-info-window-icon.icon-add {
    background-color:rgb(0, 82, 204);
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M2 18h10v2H2v-2zm0-7h20v2H2v-2zm0-7h20v2H2V4zm16 14v-3h2v3h3v2h-3v3h-2v-3h-3v-2h3z'/%3E%3C/svg%3E");
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M2 18h10v2H2v-2zm0-7h20v2H2v-2zm0-7h20v2H2V4zm16 14v-3h2v3h3v2h-3v3h-2v-3h-3v-2h3z'/%3E%3C/svg%3E");
}

.leaflet-popup-content .leaflet-info-window-btn {
    color: rgb(0, 82, 204);
}

/* ======== Animation ======== */
@keyframes search-bg {
    0%  {
        background-color: #006aff;
    }

    50% { 
        background-color: #bec8d2;
    }

    100% {
        background-color: #006aff;
    }
}

@-webkit-keyframes search-bg {
    0%  {
        background-color: #006aff;
    }

    50% { 
        background-color: #bec8d2;
    }

    100% {
        background-color: #006aff;
    }
}

/* ======== State ======= */
.is-none {
    display: none;
}

/* ======== Reset ======== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* featureList */

.featureListPanelClass{
    margin-top: 23px;
    margin-left: 24px;
    border-radius: 2px;
    background-color: #FFFFFF;
    border: none;
}

.featurelist-paneClass{
    border-radius: 2px;
}

.featurelist-title-barClass{
    font: 400 11px Roboto, Arial, sans-serif;
}

.map-action-menuClass{
    background: transparent url('//www.gstatic.com/mapspro/images/icons-app-004.svg') no-repeat 0 -84px;
    cursor: pointer;
    height: 21px;
    margin-right: 8px;
    opacity: .5;
    top: 16px;
    width: 21px;
}

#map-action-menu{
    position: absolute;
    right: 0;
}

.map-title-desc-bar-nameClass{
    text-align: left;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 254px;
    width: auto;
    cursor: default;
    color: #444444;
    font-weight: 400;
    vertical-align: top;
}

#map-title-desc-bar{
    padding: 18px;
}

.map-title-desc-bar-timeClass{
    color: #777777;
    margin-top: 35px;
}

.map-actionClass{
    background: #f1f1f1;
    position: relative;
    margin: 0;
    padding: 8px 18px;
}

.point-list-layer{
    border-top: none;
    box-sizing: border-box;
    position: relative;
    padding: 12px 16px;
    border-bottom: 1px solid #e5e5e5;
}

.point-list-layer-header{
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 21px;
    position: relative;
    border-bottom: none;
}

.point-list-layer-header-font{
    cursor: pointer;
    text-align: left;
    font-weight: 400;
    color: #222222;
    max-width: 225px;
    font-size: 14px;
    line-height: 21px;
    height: 21px;
    margin-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.point-list-layer-body{
    margin-left: 25px;
    margin-top: 9px;
}

.point-list-layer-body-container{

}

.point-list-layer-body-item{
    font-size: 13px;
    color: #444444;
    position: relative;
    margin: 1px 0;
    white-space: nowrap;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
}

.point-logo{
    background-color: transparent;
    width: 24px;
    height: 24px;
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.point-logo-svg{
    background-position: 0 -1px!important;
    margin-top: 2px;
    margin-left: 1.5px;
    margin-right: 1.5px;
    margin-bottom: 1px;
    max-width: 21px;
    height: 21px;
    background-repeat: no-repeat;
}

.point-font-container{
    background-color: transparent;
    text-overflow: ellipsis;
    line-height: 24px;
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.point-font{
    display: inline-block;
    cursor: pointer;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;
}
